body {
    background-color: lightsteelblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.common {
    background-color: slateblue;
    border: 20px solid rgb(255, 255, 255);
    position: absolute;
}

.header { 
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.left {

    top: 200px;
    left: 5px;
    bottom: 500px;
    width: 115px;
}

.right {

    top: 200px;
    right: 0px;
    bottom: 40px;
    width: 90px;
}

.footer {
    bottom: 0px;
    left: 100px;
    height: 200px;
    width: 600px;
}

.main { 
    top:300px;
    left: 300px;
    bottom: 300px;
    right: 300px;
}