body{
    background-color: rgb(128, 202, 241);
}

h1{
    color:black;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color:darkblue;
    text-align:center;
    font-size: 60px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color:brown;
    font: size 20px;
    font-family:'Courier New', Courier, monospace ;
}