body{
        background-color: rgb(113, 181, 226);
}

h2{
    color:red;
    text-align:center;
    font-size:90px;
    font-weight:bold;
    font-style:italic;
    text-decoration: underline;
}

li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}